body {
  font-family: Montserrat, sans-serif;
  color: #1E2A35;
  font-size: 16px;
}

.container {
  background: none;
}

.wrapper {
  border-radius: 2px;
  box-shadow: none;
  background: none;
}

.bank_form {
  max-width: 600px;
  margin: 0 auto;
}

.title {
  font-weight: bold;
  color: inherit;
}

.form.form_card {
  margin: 10px 0 187px 0;
}

.form_wrap {
  margin-left: 28px;
  margin-bottom: 0;
}

.bg_card {
  width: 520px;
  height: 300px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(30, 42, 53, 0.05);
}

.bg_card.bg_card_cvv {
  top: 100px;
  left: 40px;
}

.form .form_col.form_col_cvv {
  left: 380px;
  top: 300px;
  right: auto;
}

.hideShowPassword-wrapper {
  width: 100px !important;
}

.form .form_in {
  width: 546px;
  padding: 40px;
}

.form input {
  font-family: Montserrat, sans-serif;
  padding: 0 15px;
  height: 60px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: inherit;
  border: 1px solid #d2d4d7;
}

.form.form_card .form_in input {
  text-transform: none;
}

.card-date-double-input {
  width: 100px !important;
}

.form .form_col.form_col_small .form_field+span {
  margin: 14px 8px 0 8px;
  color: #999EA7;
  font-size: 16px;
}

.form .form_col {
  margin-top: 20px;
}

.form .form_item {
  width: 80%;
  max-width: 370px;
}

.tabs .tabs_group,
.wrapper.wrapper_opted,
.wrapper.wrapper_tabs:before,
.info,
.title .ico,
.hideShowPassword-toggle,
.bg_card.bg_card_cvv:before,
.js_email_checkbox,
.js_myemail,
.currency,
.gds_block,
.js_popup_postpone,
#simple_input_form,
.footer_ind {
  display: none !important;
}

.form input {
  padding: 12px 15px 0 15px;
}

.form input.field_error, .form select.field_error {
  border: 1px solid red;
  box-shadow: none;
  color: inherit;
}

.form input:focus {
  border: 1px solid #d2d4d7;
  box-shadow: none;
  opacity: 1;
}

.accept {
  position: relative;
  width: 250px;
  top: 49px;
  left: 32px;
}

.accept .accept_text {
  font-size: 12px;
  margin: 0 0 9px 4px;
}

.accept .accept_text,
.form .form_text {
  color: #999EA7;
}

.btn.btn_green {
  background: #1FA4D4;
  border-radius: 2px;
  box-shadow: none;
  width: 210px;
}

.btn.btn_green:after, .btn.btn_green:before {
  display: none;
}

.btn {
  font-size: 16px;
  font-family: inherit;
}

.offer_checkbox_container .offer_checkbox_label,
.offer_checkbox_container .offer_checkbox_label a {
  line-height: 1.2em;
  font-size: 11px;
}

.accept .accept_text {
  margin-right: 10px
}

.accept .accept_list {
  margin-left: 0px;
}

/* Input placeholder */
.form input::placeholder {
  opacity: 0;
}

.custom-placeholder {
  font-size: 16px;
  color: #999EA7;
  position: absolute;
  pointer-events: none;
  top: 21px;
  left: 16px;
  transition: font-size 0.2s, top 0.2s;
}

.form input:focus+.custom-placeholder,
.form input:not(:placeholder-shown)~.custom-placeholder {
  top: 4px;
  font-size: 12px;
}

/* Checkbox */
.checkbox {
  color: inherit;
}

.checkbox:before {
  display: none;
}

.checkmark {
  border: 2px solid #999ea7;
  opacity: 0.6;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border-radius: 2px;
}

.checkmark svg {
  fill: #fff;
  position: relative;
  top: -3px;
  display: none;
}

.checkbox:hover .checkmark {
  opacity: 1;
}

input:checked~.checkmark {
  background: #27C79A;
  border-color: #27C79A;
  opacity: 1;
}

input:checked~.checkmark svg {
  display: inline;
}

.checkout {
  margin-top: 1px;
  margin-left: 14px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  background: none;
}

.checkout_left {
  display: flex;
  margin-bottom: 4px;
  align-items: center;
  height: 50px;
}

.checkout_text {
  font-size: 20px;
}

.price {
  font-size: 20px;
}

.offer_checkbox_container {
  margin-left: 42px;
  margin-top: 21px;
}

.accept_list {
  opacity: 0.8;
}

@media only screen and (max-width: 940px) {
  .checkout .price {
    font-size: 20px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 720px) {
  .btn {
    height: 50px;
  }

  .checkout {
    padding-left: 25px;
  }

  .checkout .checkout_left {
    margin-top: 0;
  }

  .form.form_card {
    width: auto;
  }

  .form .form_in,
  .bg_card {
    width: 100%;
  }

  .bg_card.bg_card_cvv {
    width: auto;
    right: 0;
  }
}

@media only screen and (max-width: 540px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .bg_card {
    height: 260px;
    width: 100%;
  }

  .bg_card.bg_card_cvv {
    display: block;
    height: 249px;
    width: auto;
    right: 0;
  }

  .form.form_card {
    width: auto;
    margin-bottom: 210px;
  }

  .form.form_card .form_in {
    width: auto;
    padding: 20px;
  }

  .form .form_col.form_col_cvv {
    top: 249px;
    left: auto;
    right: 20px;
  }

  .form_wrap {
    margin-left: 0;
  }

  .form .form_item {
    width: 100%;
  }

  .form-wrap .form-item {
    padding-left: 0;
  }

  .accept {
    width: auto;
    top: 115px;
    left: 0;
  }

  .checkout {
    margin-top: 30px;
    margin-left: 0;
  }

  .offer_checkbox_container {
    margin-left: 12px;
  }
}

@media only screen and (max-width: 460px) {
  .form .form_col {
    padding-right: 0;
  }
}

@media only screen and (max-width: 450px) {
  .title {
    font-size: 24px;
    text-align: left;
  }
}